@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)
      format("truetype");
} /*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: FontAwesome;
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0);
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0)
      format("embedded-opentype"),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0)
      format("woff"),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0)
      format("truetype"),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
@-webkit-keyframes bg {
  5% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bg {
  5% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@-webkit-keyframes infobox {
  from {
    opacity: 0;
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes infobox {
  from {
    opacity: 0;
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
#fade-in {
  width: 80vh;
  height: 50%;
  max-width: calc(68vw);
  opacity: 0;
  -webkit-transition: all ease-in-out 2s;
  -o-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  position: relative;
  margin: 35px;
}
#fade-in.fade-me {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#fade-in img {
  position: absolute;
  opacity: 0;
}
#fade-in img.Pinzi-BG {
  -webkit-animation: bg 1.2s 3s ease-in-out forwards;
  animation: bg 1.2s 3s ease-in-out forwards;
  width: 50%;
  bottom: 0;
  left: 25%;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
#fade-in img.Pinzi-Head {
  -webkit-transition: all ease-in-out 0.5s 0.75s;
  -o-transition: all ease-in-out 0.5s 0.75s;
  transition: all ease-in-out 0.5s 0.75s;
  width: 34%;
  left: 31%;
  -webkit-animation: float 2.4s cubic-bezier(0.65, 0.05, 0.36, 1) 3.2s infinite;
  animation: float 2.4s cubic-bezier(0.65, 0.05, 0.36, 1) 3.2s infinite;
  bottom: 7.5%;
}
#fade-in img.Pinzi-Bubble {
  -webkit-transition: opacity ease-in-out 0.6s 2.5s,
    -webkit-transform ease-in-out 0.75s 3.5s;
  transition: opacity ease-in-out 0.6s 2.5s,
    -webkit-transform ease-in-out 0.75s 3.5s;
  -o-transition: opacity ease-in-out 0.6s 2.5s, transform ease-in-out 0.75s 3.5s;
  transition: opacity ease-in-out 0.6s 2.5s, transform ease-in-out 0.75s 3.5s;
  transition: opacity ease-in-out 0.6s 2.5s, transform ease-in-out 0.75s 3.5s,
    -webkit-transform ease-in-out 0.75s 3.5s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 20%;
  right: 13%;
  bottom: 25%;
}
#fade-in.fade-me img {
  opacity: 1;
}
#fade-in.fade-me img.Pinzi-Bubble {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

main h1 {
  font-size: 3em;
  font-weight: 500;
  color: #382193;
  margin: 0;
}
main h2 {
  font-size: 1.3em;
  font-weight: 100;
  margin-bottom: 0;
}
main h3 {
  font-size: 1.3em;
  font-weight: 100;
  margin-top: 0;
}
main a {
  font-size: 1.2em;
  font-weight: 300;
  color: #f44;
  text-decoration: none;
}
footer {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  #fade-in {
    height: 30%;
  }
}
